<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>web wooker</title>
  <script src="https://zuhaowan.zuhaowan.com/v1/js/jquery-1.9.1.js"></script>
</head>
<body>
  <input type="number" id="ipt">
  <button id="btns">发送</button>
  <button id="close">关闭worker</button>
  <ul class="list">
    <p>执行结果为：<b></b></p>
  </ul>
  <script type="text/javascript">
  var worker= new Worker('ww.js')
  worker.onmessage= e=>{
    $(".list b").text($("#ipt").val()+" x 100 = "+e.data)
    console.log("worker run result is "+e.data)
  }
  $("#btns").click(()=>{
    var num=$("#ipt").val();
    console.log("send data is "+num)
    worker.postMessage(num)
  })
  // 关闭web wroker
  $("#close").click(()=>{
    console.log("---worker is close---")
    worker.terminate();
  })
  </script>
</body>
</html>